html {
    height: 100%;
  }
  body {
    margin:0;
    padding:0;
    font-family: sans-serif;
    background-image:url('../img/9d1f2e441590c09d737125a61b5f5281.jpg');
    background-size:contain;
  }
  .login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 700px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
  }
  
  .login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: white;
    text-align: center;
  }
  
  .social-container {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .social {
    display: inline-block;
    margin: 0 10px;
    font-size: 30px;
    color: #fff; /* Màu icon khi không hover */
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .social:hover {
    color: #c47429; /* Màu icon khi hover */
  }
  .login-box span {
    display: block;
    text-align: center;
    color: #fff; /* Màu cho span */
    margin: 10px 0; /* Khoảng cách top và bottom */
    font-size: 16px;
  }
  

  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  .login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  
  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
  }
  
  
  .login-box form a {
    text-align: center;
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    overflow: hidden;
    margin-top: 40px;
    font-size: 20px;
  }

  .button-submit {
    text-align: center; 
  }
  .button-submit button {
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: background-color 0.5s;
  }
  
  .button-submit button:hover {
    background-color: #03e9f4;
    color: #fff;
    border-radius: 5px;
  }

  .form-switch {
    text-align: center;
    margin-top: 30px;
    color: #fff;
    font-size: 20px;
  }
  
  .form-switch a {
    color: #03e9f4;
    text-decoration: none;
    transition: color 0.3s;

  }
  
  .form-switch a:hover {
    color: #fff;
  }